@model ViewModel.BoardView
@(Layout = null)

@{ Olive.Microservices.Hub.Board item = Model.Item; }
@{if (item == null)return;}

<!-- «Start| BoardView» -->
<div data-module="BoardView" class="gridster-holder">
   @Html.StartupActionsJson()
   <div data-module='BoardView'>
      @*<input type="text" class="border-view" placeholder="Filter..." id="HubInstantSearch" name="HubInstantSearch" value="">*@
         @Html.StartupActionsJson()
         @foreach (var group in item.GetWidgets(User).GroupBy(x=>x.Group))
         {{
         @*<h3 class="olive-instant-search-item">
            @group.Key
         </h3>*@
         <div class='gridster'>
            <ul>
               @foreach (var widget in group)
               {{
               <li class="olive-instant-search-item">
                  @widget.Render(info.FeatureId).Raw()
               </li>
               }}
            </ul>
         </div>
         }}
      </div>
      @item.GetRightWidget(User)?.RenderRightSide(info.FeatureId).Raw()
   </div>
<!-- «End| BoardView» -->

