@{ var timeout = Config.Get("Authentication:Timeout", defaultValue: 20).Minutes().TotalSeconds + 10;}
@using Microsoft.AspNetCore.Hosting;
@using Olive.Microservices.Hub.Domain.Utilities;
@{
    var leftMenu = ViewData["LeftMenu"].ToStringOrEmpty();
    var hasFullViewContent = ((await Request.Get<Olive.Microservices.Hub.Feature>("feature"))?.HasSecondLevelMenu()).GetValueOrDefault() == false;
    var root = ThemeProvider.GetRootPath(false);
    var themeRoot = ThemeProvider.GetRootPath(true);
    var primaryColor = ThemeProvider.GetPrimaryColor();
}

<!DOCTYPE html>
<html class="hub-service">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="refresh" content="@timeout">
    <title>@ViewData["Title"]</title>
    <link rel='stylesheet' href="@themeRoot/styles@(".min".OnlyWhen(Environment.IsProduction())).css?v=%APP_VERSION%" type='text/css' />
    <link rel='stylesheet' href="@themeRoot/extra-styles.css" type='text/css' />
    <link rel="icon" media="all" type="image/x-icon" href="@themeRoot/img/favicon.png" />
    <link rel="shortcut icon" href="@themeRoot/img/favicon.ico">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="@primaryColor">
    <meta name="apple-mobile-web-app-title" content="Hub Application">

    <link rel="mask-icon" href="@themeRoot/img/safari-pinned-tab.svg" color="@primaryColor" style="user-select: text;">
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" href="@themeRoot/img/pwa/splash/iphonexsmax_splash.png" style="user-select: text;">
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" href="@themeRoot/img/pwa/splash/iphonexr_splash.png" style="user-select: text;">
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" href="@themeRoot/img/pwa/splash/iphonex_splash.png" style="user-select: text;">
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="@themeRoot/img/pwa/splash/iphone6_splash.png" style="user-select: text;">
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)" href="@themeRoot/img/pwa/splash/iphoneplus_splash.png" style="user-select: text;">
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href="@themeRoot/img/pwa/splash/iphone5_splash.png" style="user-select: text;">

    <link rel="apple-touch-icon" sizes="57x57" href="@themeRoot/img/pwa/icon57.png">
    <link rel="apple-touch-icon" sizes="76x76" href="@themeRoot/img/pwa/icon76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="@themeRoot/img/pwa/icon114.png">
    <link rel="apple-touch-icon" sizes="167x167" href="@themeRoot/img/pwa/icon167.png">
    <link rel="apple-touch-icon" sizes="144x144" href="@themeRoot/img/pwa/icon144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="@themeRoot/img/pwa/icon152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="@themeRoot/img/pwa/icon180.png">
    <link rel="apple-touch-icon" sizes="192x192" href="@themeRoot/img/pwa/icon192.png">

    <meta name="msapplication-TileImage" content="@themeRoot/img/pwa/icon144.png">
    <meta name="msapplication-TileColor" content="green">
    <meta name="msapplication-starturl" content="/">

    <!-- Manifest.json-->
    <link rel="manifest" href="~/manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="@primaryColor">

    <script type="text/javascript">
        window["services"] = @Olive.Microservices.Hub.Service.ToJson()?.Raw();
    </script>

    <script src="@root/lib/olive.microservices.hubjs/dist/bundle-built.js"></script>
    <script src="@root/scripts/js.js"></script>
    @*<script src="~/lib/olive.microservices.hubjs/dist/bundle-built@(".min".OnlyWhen(Request?.Query["jsdebug"].ToString() != "true")).js?v=%APP_VERSION%"></script>*@
    @*<script src="~/lib/olive.microservices.hubjs/dist/bundle-built@(".min".OnlyWhen(Request?.Query["jsdebug"].ToString() != "true")).js?v=%APP_VERSION%"></script>*@

    @*<script src="~/scripts/js.js"></script>*@

    @*<script src="~/lib/requirejs/require.js" data-main="/scripts/hub/appPage.js"></script>*@
    @*<script src="~/scripts/hub/appPage.js"></script>*@
    @*<script type="text/javascript">
            requirejs(["/hub/appPage"], function () { });
        </script>*@
    @*<script src="~/scripts/bundle-built.js?v=%APP_VERSION%" ></script>*@
    @*<script src="~/lib/requirejs/require.js" data-main="/scripts/bundle-built@(".min".OnlyWhen(Request?.Query["jsdebug"].ToString() != "true")).js?v=%APP_VERSION%"></script>*@
</head>
<body>
    <div class="container-fluid p-0">
        <div class="page row m-0">
            @if (leftMenu.HasValue() && User.Identity.IsAuthenticated)
            {
                <div class="side-bar d-none d-lg-flex p-0 @(Request.Cookies[".side-bar"].OrEmpty() == "collapsed" ? "collapsed" : string.Empty )">
                    @(await Component.InvokeAsync<ViewComponents.SideBarTopModule>())
                    @(await Component.InvokeAsync(leftMenu))
                    @(await Component.InvokeAsync<Footer>())
                    <div class="div-float">
                        <a href="https://auditlog.app.geeks.ltd/improvement" target="$modal" class="alink-float no-print" title="Request a system improvement">
                            <i class="fas fa-comment-medical icon-float" title="Request a system improvement"></i>
                        </a>
                    </div>
                </div>
            }

            <div class="content">
                @(await Component.InvokeAsync<FeaturesTopMenuWrapper>())

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="w-100 d-flex d-lg-none mobile-top-menu">
                        <a class="home" href="@Microservice.Me.Url("/under")" data-redirect="ajax"><i class="fas fa-home"></i></a>
                        @(await Component.InvokeAsync<GlobalSearch>())
                    </div>
                    @(await Component.InvokeAsync<BreadcrumbWrapper>())
                }

                <div class="content-body">
                    <service of="hub">
                        @RenderBody()
                        <div class="feature-frame-view view-body" id="iFrameHolder">
                            <iframe class='view-frame embed-responsive-item w-100 h-100' name='view-frame'></iframe>
                        </div>
                    </service>
                </div>
            </div>

            @if (leftMenu.HasValue())
            {
                @(await Component.InvokeAsync<SideBarRightModule>())
            }
        </div>
    </div>
    @Html.DevCommandsWidget()
   @* @if (User.Identity.IsAuthenticated){
        <a href="https://auditlog.app.geeks.ltd/improvement" target="$modal" class="float no-print" title="Request a system improvement">
            <i class="fas fa-comment-medical my-float" title="Request a system improvement"></i>
        </a>
    }*@
</body>
</html>