@model ViewModel.TaskFrameModule
@(Layout = null)

<!-- «Start| TaskFrameModule» -->
<div data-module="TaskFrameModule">
   @Html.StartupActionsJson()
   <div id='taskiFram-container'
   data-src='@Microservice.Of("Tasks").Url()widget-my-priority/@User.GetId()'>
      <button type='button' id='taskBarCollapse' class='navbar-btn d-none d-lg-block @(Request.Cookies[".task-bar"].OrEmpty() == "collapsed" ? "collapse" : string.Empty ) '><i class='fa @(Request.Cookies[".task-bar"].OrEmpty() == "collapsed" ? "fa-chevron-left" : "fa-chevron-right")' aria-hidden='true'></i></button>
      <div class='module-content'>
      </div>
   </div>
</div>
<!-- «End| TaskFrameModule» -->

