@model ViewModel.FeaturesTopMenuWrapper
@(Layout = null)
<!-- «Start| FeaturesTopMenuWrapper» -->
@if (Model.IsVisible)
{
    <form data-module="FeaturesTopMenuWrapper" class="">
        @Html.StartupActionsJson()
        @info.Markup.Raw()
        <button type="button" id="sidebarCollapse" class="navbar-btn d-none d-lg-block @(Request.Cookies[".side-bar"].OrEmpty() == "collapsed" ? "collapse" : string.Empty )">
            <i class="fa @(Request.Cookies[".side-bar"].OrEmpty() == "collapsed" ? "fa-chevron-right" : "fa-chevron-left")" aria-hidden="true"></i></button>
        <ul class='features-sub-menu feature-top-menu d-none d-lg-flex'>
        </ul>
        <script id="sumMenu-template" type="text/x-handlebars-template">
            {{#menus}}
            <ul class="nav navbar-nav">
                {{#Children}}
                <li class="feature-menu-item {{CssClass}} {{#if IsSelected}} active {{/if}}" data-nodeid="{{ID}}">

                    <a href="{{LoadUrl}}" data-service="" {{#if UseModal}} conditional-redirect target="$modal" {{/if}} {{#if UseIframe}} {{else UseModal}} {{else}} data-redirect="ajax" {{/if}}><i class="{{Icon}}" aria-hidden="true"></i> {{Title}}</a>
                    {{#if IsRemovable}}
                    <a name="Unpin" formaction="{{RemoveActionUrl}}" data-confirm-question="{{RemoveConfirmMessage}}"></a>
                    {{/if}}
                    <ul>
                        {{#Children}}
                        <li class="feature-menu-item" data-nodeid="{{ID}}">
                            <i class="{{Icon}}" aria-hidden="true"></i>
                            <a href="{{LoadUrl}}" data-service="" {{#if UseModal}} target="$modal" {{/if}} {{#if UseIframe }} {{else UseModal}} {{else}} data-redirect="ajax" {{/if}}><i class="{{Icon}}" aria-hidden="true"></i> {{Title}}</a>
                            <ul>
                                {{#Children}}
                                <li class="feature-menu-item" data-nodeid="{{ID}}">
                                    <i class="fa {{Icon}}" aria-hidden="true"></i>
                                    <a href="{{LoadUrl}}" data-service="" {{#if UseModal}} target="$modal" {{/if}} {{#if UseIframe }} {{else UseModal}} {{else}} data-redirect="ajax" {{/if}}><i class="{{Icon}}" aria-hidden="true"></i> {{Title}}</a>
                                </li>
                                {{/Children}}
                            </ul>
                        </li>
                        {{/Children}}
                    </ul>
                </li>
                {{/Children}}
                <li class="feature-menu-item feature-top-menu-more ">
                    <a href="#" data-service="" ><i class="fa fa-angle-down d-inline-block" aria-hidden="true"></i> </a>
                </li>
            </ul>
            {{/menus}}
        </script>
    </form>
}
<!-- «End| FeaturesTopMenuWrapper» -->
