@model ViewModel.Footer
@(Layout = null)

<!-- «Start| Footer» -->
<form data-module="Footer" method="post" action="@Url.Current()" class="logout-box">
   @Html.AntiForgeryToken()
   @Html.StartupActionsJson()
    <div class="d-inline-block">
        @if (User.Identity.IsAuthenticated)
        {
            <div style="width: 45px;height: 45px;background: linear-gradient(0deg, @Model.SecondaryDISCColour 25%, @Model.PrimaryDISCColour 0%);border-radius: 25px;">
                <a href="/person/@Model.Email">
                    <img src="@Model.UserImage" alt="@User?.Identity.Name" class="sidebar-top-module-profile" style="margin: 6%;">
                </a>
            </div>
        }
        else
        {
    <a href="#">
        <img src="~/img/icons/user.svg" class="sidebar-top-module-profile">
    </a>
        }
    </div>
    <div class="sidebar-top-module-profile-text">
        Hi <a href="/person/@Model.Email">@(User?.Identity.Name ?? "Guest")</a><br />
        @if (User.Identity.IsAuthenticated)
        {
            <a name="SignOut" href="/logout" default-button="true">Sign out</a>
            @Html.RenderHeaderButtons().Raw()
        }
        else
        {
            <a name="SignIn" href="/login" default-button="true"> Sign in</a>
        }
    </div>
</form>
<!-- «End| Footer» -->

