@using Microsoft.AspNetCore.Authentication
@using Olive.Security
@model ViewModel.LoginForm
<div class="login-page">
   @(await Component.InvokeAsync
   <ManualLogin>
      (ViewBag.ManualLogin as ViewModel.ManualLogin))
      <!-- «Start| LoginForm» -->
      <form data-module="LoginForm" role="form" method="post" action="@Url.Current()" data-validation-style="tooltip" class="social-media-login">
         @Html.StartupActionsJson()
         <div class='google-login-wrapper'>
            <img name="Logo" src="/img/Geeks.png" alt="Logo" style='max-width:70%' />
            <br/>
            <br/>
            <img name="FitSuite" src="/img/fitsuite.png" alt="FitSuite" style='max-width:50%' />
            <br/>
            <br/>
            <br/>
            <button type="submit" name="LoginByGoogle" class="btn-social btn-google btn btn-primary btn btn-secondary" formaction='@Url.ActionWithQuery("LoginForm/LoginByGoogle")' formmethod='post'>Login with Google</button>
            <br/>
            <hr/>
            <b>
               Or
            </b>
            <br/>
            <br/>
            <input name='Email' placeholder='Login with email...'
            style='text-align:center; padding: 6px; border: 1px solid #bbb; border-radius: 5px; min-width:200px'>
               <br/>
               <a name="Login" href="#" formaction='@Url.ActionWithQuery("LoginForm/Login")' default-button="true" formmethod='post'><i class="fas fa-sign-in-alt"></i></a>
               <br/>
               <span style='color:red'>
                  @Model.ErrorMessage.Raw()
               </span>
            </div>
            <div class="form-body">
            </div>
         </form>
         <!-- «End| LoginForm» -->
      </div>
