@model ViewModel.BoardComponents
@(Layout = null)
<div class="w-100 mb-3">
    <!-- «Start| BoardComponent» -->
    <div data-module="BoardComponents" class="no-print board-components "
         data-id="@Model.FeatureId"
         data-boardtype="@Model.Type"
         data-board-source="@Model.GetBoardSources(Model.Type)">
        @Html.StartupActionsJson()
    </div>



    <div data-module-inner>
        <div class="row board-header pane" style="display:none">
            <div class="col-md-2 board-image"></div><div class="col-md-10">
                <div class="board-info">
                </div><div class="board-links"></div>
            </div>
        </div>
        <div class="col-md-12 mt-4 board-content">
            <div data-module-inner-container></div>
        </div>
    </div>
    <main name="board-body">
    <div class="board-components-result">
        <h3 class="border-components-view">
            <input type="text" class="board-components-filter" placeholder=" @Model.Title" value="">
        </h3>
        <div class="board-components-header-actions">
            <a class="manage-button" href="javascript:void()" style="display:none"><i class="fa fa-cog" aria-hidden="true"></i></a>
            <a class="add-button" href="javascript:void()" style="display: none"><i class="fas fa-plus-circle" aria-hidden="true"></i></a>
        </div>
        <div class="board-addable-items-container " style="display:none"></div>
        <div class="board-manage-items-container " style="display:none"></div>
    </div>
    </main>
</div>

<!-- «End| BoardComponent» -->
