@model ViewModel.BoardComponents
@(Layout = null)
<div class="w-100 mb-5">
    <!-- «Start| GlobalSearch» -->
    <div data-module="BoardComponents" class="no-print board-components "
         data-id="@Model.FeatureId"
         data-boardtype="@Model.Type"
         data-board-source="@Model.GetBoardSources(Model.Type)">
        @Html.StartupActionsJson()
    </div>
    <h3 class="border-components-view">
        @Model.Title
        <input type="text" class="board-components-filter" placeholder="Filter..." value="">
        <a class="manage-button" href="javascript:void()" style="display:none"><i class="fa fa-cog" aria-hidden="true"></i></a>
        <a class="add-button" href="javascript:void()" style="display: none"><i class="fas fa-plus-circle" aria-hidden="true"></i></a>
    </h3>
    <div class="board-addable-items-container " style="display:none"></div>
    <div class="board-manage-items-container " style="display:none"></div>

    <div class="board-components-result"></div>

</div>

<!-- «End| GlobalSearch» -->
